.site-header {
    nav {
        li {
            &:nth-child(2) {
                border-radius: 25px;
                /* width: 120px; */
                text-align: center;
                padding: 12px;
                font-weight: 500;
                background-color: var(--electric-blue);
                border: 0px;
                a {
                    color: white;
                }
            }
        }
        @media (max-width: $max-width-sm) {
            li {
                &:last-child,
                &:first-child {
                    display: none;
                }
            }
        }
    }
}
